.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  background-color: #f8b400;
  padding: 20px;
  color: white;
}

.main-content {
  padding: 20px;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.footer {
  background-color: #f8b400;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
